<div class="ui small menu inverted">
    <div class="ui container">
        <%= link_to  "Chat room", root_path, class: "active item"%>
        <div class="right menu">
            <div class="ui dropdown item">
            
            <%= @current_user ? @current_user.username : "Account" %> <i class="dropdown icon"></i>
            <div class="menu">
                <%= (link_to  "Log out", destroy_session_path, data: { turbo_method: :delete }, class: "item" ) if logged_in? %>
                <%= (link_to  "Log in", new_session_path, class: "item")  if !logged_in? %>
            </div>
            </div>
            <div class="item">
                <% if !logged_in? %>
                    <%= link_to "Sign Up", users_new_path, class: 'ui purple button' %>
                <% end %>
            </div>
        </div>
    </div>
  </div>